*{
    padding: 0;
    margin: 0;
}
.btn{
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}
.description{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
}
.title{
    font-size: 40px;
}

 /* Header Section style start */

.nav-container{
    display: flex;
    background: #ABABAB;
    justify-content: space-around;
    padding: 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-tite{
    color: aqua;
    font-size: 25px;
    font-weight: 600;
}
.menu-item>ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu-item li{
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}
.banner{
    height: 100vh;
    background: linear-gradient(45deg,
    rgba(245,70,66, 0.75),
    rgba(8,83,156, 0.75)),url(../image/background.jpg);
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    display: flex;
}
.banner-item{
    margin: 0 auto;
}
.banner-title{
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
}
.color-title{
    color: aqua;
}
.header-description{
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.banner-button{
    text-align: center;
}
.discover-more-btn{
    background: aqua;
    margin-right: 10px;
}
.hire-us-btn{
    margin-right: 10px;
}
/* Service section style  */

.service{
    height: 100vh;
    background: linear-gradient(45deg,
    rgba(3, 3, 3, 0.75),
    rgba(0, 0, 0, 0.95)),url(../image/footer-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.service-list-btn{
    border-radius: 30px;
    color: gray;
}
.service-info,
.service-item{
    width: 50%;
    text-align: left;
}
.service-info{
    margin-left: 20px;
    color: #fff;
}
.service-title{
    margin: 30px 0;
}
.service-info>ul li{
    list-style: none;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
}
.detials{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-author{
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(245, 44, 44);
}
.icon-author>img{
    width: 25%;
    border-radius: 50%;
}
.icon-info{
    margin-left: 15px;
}
.details-btn{
    border-radius: 30px;
    color: red;
    font-weight: 500;
}
.service-item{
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 20px;
    padding: 50px;
}
.box{
    background: #fff;
    text-align: center;
    padding: 50px;
    border-radius: 8px;
}
.box img{
    height: 100px;
    width: 100px;
    padding: 20px;
}